.App {
  text-align: center;
  height: auto;
}
.YoutubeLogo {
  height: 60px;
  width: 60px;
  border-radius: 20%;
}
.Navbar {
  height: 100px;
  background-color: rgb(40, 199, 186);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: fantasy;
  font-size: large;
}

.Link {
  text-decoration: none;
}
.Link:hover {
  color: white;
  text-transform: uppercase;
  font-size: larger;
}

.ProjectDes {
  font-family: fantasy;
  margin-left: 100px;
  margin-right: 100px;
}
.AboutMe {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.Jenna {
  font-family: fantasy;
  padding-left: 20px;
  padding-right: 20px;
  width: auto;
}
.Yesi {
  font-family: fantasy;
  padding-left: 20px;
  padding-right: 20px;
  width: auto;
}
.GithubLogo {
  height: 50px;
  width: 50px;
  border-radius: 20%;
}

.Input {
  width: 500px;
  height: 25px;
}
.Button {
  height: 25px;
  width: 100px;
}

.CommenterName {
  width: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  text-decoration: none;
  outline: none;
}
.CommentArea {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 250px;
  height: 150px;
  padding: 10px;
  outline: none;
}
.UList {
  list-style-type: none;
  text-align: left;
  margin: 10px;
}
.CommentSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 25px;
  font-family: monospace;
}
.CommentForm {
  text-align: left;
}
.SubmitButton {
  background-color: rgb(40, 199, 186);
  width: 200px;
  padding: 10px;
  font-family: monospace;
  font-weight: bold;
}
.Results {
  list-style-type: none;
  text-align: left;
  margin: 10px;
}
.SearchInput {
  width: 350px;
  padding: 10px;
  margin: 15px;
  outline: none;
  font-family: monospace;
  font-weight: bold;
}
.SearchButton {
  width: 80px;
  height: 30px;
  font-family: monospace;
  font-weight: bold;
  background-color: rgb(40, 199, 186);
}
.HomePage {
  font-family: monospace;
}

.DeleteButton {
  width: 70px;
  height: 20px;
  font-family: monospace;
  font-weight: bold;
  background-color: rgb(40, 199, 186);
}